
@model ContactManager.Dtos.ContactDto
@{
    ViewBag.Title = "Edit contact";
}

<h1>Edit contact</h1>

@using (Html.BeginForm())
{    
<div class="form-horizontal">

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Address.Id)    

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" , @required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required", @type = "email" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address.Neighborhood, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address.Neighborhood,
                      new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address.City, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address.City,
                      new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address.State, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address.State,
                      new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address.Complement, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address.Complement,
                      new { @class = "form-control" })
        </div>
                
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telephones, new { @class = "control-label col-md-2" })
        <div class="col-md-10" id="formNumber">
            @if (Model.Telephones == null)
            {
                @Html.TextBoxFor(m => m.Telephones[0].Number,
                       new { @class = "form-control control-label col-md-2" })
            }
            else
            {
                @for (var i = 0; i < Model.Telephones.Count(); i++)
                {
                    @Html.HiddenFor(m => m.Telephones[i].Id)
                    @Html.TextBoxFor(m => m.Telephones[i].Number,
                               new { @class = "form-control control-label col-md-2" })
                    <span class="col-md-2"></span>
                }
            }
            <span>
                <input type="submit" name="submitButton" value="New Telephone" class="btn btn-link" formnovalidate />
            </span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submitButton"  value="Save changes" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}
