@model IEnumerable<ContactManager.Dtos.ContactDto>
@{
    ViewBag.Title = "TabelaForeach";
}
<h2>Lista de Contatos</h2>
<p>
    @Html.ActionLink("Incluir novo contato", "Create", "Contact", new { @class = "btn btn-success" })
</p>
<form asp-controller="Contact" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
    <fieldset data-role="controlgroup">

        <input type="radio" name="TipoBusca" id="radio-choice-v-2a" value="1">
        <label for="radio-choice-v-2a">Nome</label>
        <input type="radio" name="TipoBusca" id="radio-choice-v-2b" value="2">
        <label for="radio-choice-v-2b">Telefone</label>

    </fieldset>
</form>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>